<% content_for :stylesheet do %>
  <%= stylesheet_link_tag 'index_manifest' %>
<% end %>
<% content_for :script do %>
  <%= javascript_include_tag 'bundle' %>
  <%= javascript_include_tag 'index_manifest' %>
  <%= render :partial => 'dependencies' %>
  <%= render :partial => 'search/js_templates' %>
<% end %>

<section id="home">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h1 class="main-header"></h1>
      </div>
    </div>
  </div>
</section>
<section id="main">
</section>
<a href="#home" id="home-link" style="display:none;"></a>
<a href="#timeseries" id="timeseries-link" style="display:none;"></a>
<a href="#barchart" id="barchart-link" style="display:none;"></a>
